.Carousel {
  padding: 4px;
  display: inline-flex;
  background: grey;
  user-select: none;
  overflow: hidden;
  /* временное решение */
  width: max-content;
}

.ViewArea {
  display: flex;
  overflow: hidden;
  margin: 0 20px;
}

.Strip {
  display: flex;
  flex-shrink: 0;
  transition: margin 250ms;
}

.Item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: Deepskyblue;
}

.Arrow {
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  width: 60px;
}

.Arrow_disabled {
  color: black;
}
