.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.DndTest {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: cornflowerblue;
}

.Resizable {
  background-color: rgb(237, 100, 180);
  height: 100%;
  width: 100%;
}

body {
  background-color: dimgrey;
}