.Thumb {
  background-color: blueviolet;
  height: 40px;
  width: 40px;
}

.App {
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

body {
  background-color: dimgrey;
}