.ViewArea {
  position: relative;
  
  display: flex;
  align-items: center;
  
  height: 60px;
  
  overflow: hidden;
  user-select: none;

  background-color: pink;
}

.Item {
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: Deepskyblue;
  transition: left 250ms;
}
